extends layout

block content
  h1= title
  p Welcome to #{title}

    block content
      div.form-group
        form.form-horizontal(method="post", id="loginForm")
          block.form-group
           label Username
           input.form-control(id="username", type="text", name="User", placeholder="Enter your username")
          block.form-group
            label Password
            input.form-control(id="password", type="password", name="Password", placeholder="Enter your passwrod")
          
        input.btn.btn-success(type="submit", value="Log In")
      div.container
        div.content
          table.table.table-striped
            thead
              tr
                th Table
                th Heading
            tbody
              tr
                td Blah
                td Test
              tr
                td Hello
                td World

  include footer