extends layout

block content
  nav(class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse")
    button.navbar-toggler.navbar-toggler-right(type='button',data-toggle='collapse',data-target='#navbarsExampleDefault',aria-controls='navbarsExampleDefault',aria-expanded='false',aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a(href='#').navbar-brand Navbar
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a(href='#').nav-link Home
        li.nav-item
          a(href='#').nav-link Link
        form(class="form-inline my-2 my-lg-0")
          input(class="form-control mr-sm-2",type="text",placeholder="Search")
  div.jumbotron
    h1= title
    p Welcome to #{title}