extends ../layout

block content
  include ../layout/header

  block content
    section.login-content
      .login-box
        div.form-group
          form.login-form(method="post", id="loginForm")
            h4 Salir Aplicativo ??
            p
            block.form-group
              input.btn.btn-warning.btn-block(type="submit", value="Salir")

  //include ../footer