extends layout

block content
  include header

    block content
      section.login-content
        .login-box
          div.form-group
            form.login-form(method="post", id="loginForm")
              block.form-group
                label Usuario
                input.form-control(id="username", type="text", name="User", placeholder="Ingrese Usuario")
              block.form-group
                label Password
                input.form-control(id="password", type="password", name="Password", placeholder="Ingrese Contraseña")
              p
              block.form-group
                input.btn.btn-success.btn-block(type="submit", value="Ingresar")

  include footer